*.py[co]
*~
*.db

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
bin
sdist
develop-eggs
.installed.cfg

# virtualenv
include
lib
local

openssl_sandbox

# Scripts
*.sh

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg
